* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
.main {
    background-image: url("rDJegQJaCyGaYysj2g5XWY-970-80.jpg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}
nav {
    max-width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    position: relative;
    z-index: 10;
}
nav img {
    width: 114px;
}
nav button {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
nav button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    position: relative;
    gap: 20px;
    padding: 0 20px;
}
.hero h1 {
    font-size: 48px;
    font-weight: bold;
}
.hero p {
    font-size: 20px;
    font-weight: 400;
}
.hero input {
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.hero .btn-red {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.hero .btn-red:hover {
    background-color: #f40612;
}
.separation {
    height: 7px;
    background-color: #111;
}
section {
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}
section img {
    display: inline;
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    border-radius: 100px;
    
}
section div {
    max-width: 500px;
}
section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}
section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}